[package]
name = "ullage"
version = "0.1.0"
authors = ["Will Speak <will@willspeak.me>"]
description = "The Ullage Programming Language"
license = "MIT"
# documentation = "no public docs yet"
repository = "https://github.com/iwillspeak/ullage"
readme = "README.md"
keywords = [ "llvm", "parser", "compiler" ]
categories = [ "parsing" ]

[dependencies]
llvm-sys = "40"
docopt = "0.7"
rustc-serialize = "0.3"
tempdir = "0.3"
